
/*fontawesome cdn link*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
/*google font cdn link*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fascinate+Inline&family=Lexend+Deca:wght@100..900&family=Monoton&family=Noto+Kufi+Arabic&family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Ubuntu&family=Young+Serif&display=swap');
:root{
    --main-color: #ffdd95;
    --black: #222;
    --light-black:#1a1a1a;
    --bg-color:#0d0d0d;
    --white: #fff;
    --light-white: #aaa;
}
*{
    box-sizing: border-box;
    padding: 0; margin: 0;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: 0.2s all linear;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 62.5%;          /* يسهل استخدام rem (1rem = 10px)*/
    scroll-padding-top: 7rem;  /* يسيب فراغ علوي عند التمرير التلقائي */
    scroll-behavior: smooth;  /*بيخلي التمرير ناعم */
    overflow-x: hidden;        /*يمنع التمرير الافقي */
}

/*الكود ده بيخصص شكل شريط التمرير كالتالي:

عرض الشريط التمر(0.5rem).

الزر المتحرك لونه بيتحدد بناءً على متغير CSS.

خلفية المسار شفافة أو غير موجودة.

*/
/*لو عملت SCROLLده بيكون شكله*/

 ::-webkit-scrollbar{
    width: 0.5rem;  /*1rem=10px*/
 }

 ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }

 ::-webkit-scrollbar-track{
    background-color: none;
 }


 /*STEP1*/
body{
    background-color: var(--bg-color);
}
section{
   padding: 2rem;
   margin: 0 auto;
   max-width: 1200px;
   
}

.header{
   position: sticky; top: 0; right: 0;left:0;
   z-index: 1000;
}

.header.active{
   background-color: rgba(0,0,0,.8);
   backdrop-filter: blur(4px);/* تُستخدم لتطبيق تأثير ضبابي (blur) على الخلفية الواقعة خلف عنصر معين.
بمعنى آخر، أي شيء يظهر خلف هذا العنصر سيتم تعتيمه أو تشويشه بمقدار 4 بكسل. */ 
}

.header .flex{
   display: flex;
   align-items: center;
}
#menu-btn{
   font-size: 2.5rem;
   color: var(--main-color);
   margin-right: 1rem;
   cursor: pointer;
}
.header .flex .logo{
   margin-right: auto;
   
}
.header .flex .logo a{
   font-size: 2.5rem;
   color: var(--white);
   font-weight: bold ;
   font-style: italic;
}

.header .flex .search-form{
   display: flex;
   align-items: center;
   gap: 1rem;
}

.header .flex .search-form .search-bar{
   background-color: var(--light-black);
   border-radius: 0.5rem;
   padding: 1rem 1.5rem;
   display: flex;
   align-items: center;
   gap: 1rem;
   width: 50rem;

}
.header .flex .search-form .search-bar input{
   width: 100%;
   background: none;
   font-size: 1.8rem;
   color: var(--white);
}

 .header .flex .search-form .search-bar 
input::-webkit-search-cancel-button{
   appearance: none;
}
    
 .header .flex .search-form .search-bar label{
   color: var(--white);
   font-size: 2rem;
   cursor: pointer;
}

.header .flex .search-form  a{

   display: block;
   text-align: center;
   font-size: 2rem;
   height: 4rem;
   width: 4.5rem;
   line-height: 4rem;
   border-radius: 0.5rem;
   color: var(--white);
   background-color: var(--light-black);
 
}

.header .flex .search-form  a:hover{
   background-color: var(--main-color);
   color: var(--black);
}
.header .flex .search-form .search-bar label:hover{
   color: var(--main-color);
}
.btn{
   display: inline-block;
   padding: 0.6rem 1.6rem;
   font-size: 1.6rem;
   color: var(--black);
   background-color: var(--main-color);
   border-radius: 0.5rem;
   cursor: pointer;
}
.btn:hover{
   background-color: var(--white);
   
}
.btn i{
   margin-right: 0.5rem;
}

.header .btn{
   margin-left: auto;
}

#search-toggler{
   height: 3.5rem;
   width: 4.5rem;
   line-height: 3.5rem;
   font-size: 2rem;
   color: var(--white);
   background-color: var(--light-black);
   border-radius: 0.5rem;
   margin-left: 1rem;
   text-align: center;
   display: none;
   cursor: pointer;
}


/*STEP3*/

.side-bar{
   position:fixed;
   top: 0; left: 0; right: 0;
   z-index: 1100;
   background-color: rgba(0,0,0,.8);
   backdrop-filter: blur(10px);
   height: 100vh;
   display: none;
   
}
.side-bar.active{
   display: block;
}
  
.side-bar .navbar {
   height: 100%;
   width: 35rem;
   background-color: rgba(0,0,0,.8);
   padding: 2rem;
   overflow-y: scroll;
   animation: slide-in .2s cubic-bezier(.32,.85,.21,1.26); /*slide-in: اسم الحركة (يجب تعريفها باستخدام @keyframes)

.2s: مدة الحركة (0.2 ثانية = 200 مللي ثانية)

cubic-bezier(.32,.85,.21,1.26): دالة توقيت مخصصة تعطي تأثير قفز خفيف (حركة ديناميكية)

 */

}
 @keyframes  slide-in{

 from{
   opacity: 0; /* العنصر غير مرئي في البداية.*/
   transform:translateX(-10rem) /*العنصر يبدأ خارج الشاشة أو بعيدًا لليسار بمقدار 10rem. */
 }
 to{
   opacity: 1; /*العنصر يصبح مرئيًا تمامًا. */
   transform:translateX(0rem) /* العنصر يعود إلى موقعه الطبيعي. */
 }
   
 }

 .side-bar .navbar #close-btn{

   margin-bottom: 1rem;
   padding: 1rem 2rem;
   border: .1rem solid #555;
   border-radius: 5rem;
   display: inline-block;
   font-size: 1.8rem;
   color: var(--white);
   cursor: pointer;

 }

 .side-bar .navbar #close-btn:hover{
   background-color: var(--white);
   color: var(--black);
 }
.side-bar .navbar #close-btn i{
   margin-right: .5rem;
}
.side-bar .navbar #close-btn:hover i{
   margin-right: 1rem;
}

.side-bar .navbar a{
   display:block ;
   padding: 0.6rem 0;
   font-size: 1.6rem;
   color: var(--main-color)
}

  .side-bar .navbar a:hover{
   color: var(--white);
   
  }

.side-bar .navbar .title{
   background-color: var(--light-black);
   color: var(--white);
   font-size: 2rem;
   border-radius: .5rem;
   padding: .8rem 0;
   text-align: center;
   margin: 1rem 0;

}

.side-bar .navbar .row{

   column-count: 2;
   column-gap: 2rem;
}

/*STEP2*/

.footer{
   background-color: var(--black);
}

.footer .list h3{
   color: var(--white);
   font-size: 3rem;
}

.footer .list p{

   font-size: 1.4rem;
   line-height: 1.6;
   color: var(--light-white);
   padding: 0.5rem 0;
}
.footer .list .list-links{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin: 1rem 0;
   padding-top: 1rem;
   
}
.footer .list .list-links a{
   padding: 0.5rem 1rem;
   font: size 1.8rem;
   color: var(--light-white);
   background: var(--bg-color);
   border-radius: 0.5rem;
}

.footer .list .list-links a:hover{
 background-color: var(--main-color);
 color: var(--black);
}
.footer .row{
   display: flex;
   justify-content: space-between;
   padding: 1rem 0;
   gap: 2rem;
   line-height: 4rem;
}

.footer .row .extra-links a{
   margin-right: 1.5rem;
   font-size: 1.8rem;
   color: var(--light-white);
   
}

.footer .row .extra-links a:hover{
   color: var(--white);
}

.footer .row  .share a{
  font-size: 2rem;
  height: 4rem;
  width: 4.5rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  background-color: var(--light-black);
  color: var(--light-white);
  text-align: center;
  margin-left: 0.5rem;
}


.footer .row  .share a:hover{
   background-color: var(--main-color);
   color: var(--black);
}

.footer .credit{
   display: block;
   text-align: center;
   font-size: 2rem;
   color: var(--light-white);
   border-top: 0.1rem solid rgba(255, 255, 255,0.1 );
   padding-top: 3rem;
   margin-bottom: 1rem;
}

.footer .credit span{
   color: var(--main-color);
}

/*STEP4*/

.hero .slide{

   position: relative;
   z-index: 0;
   
}

.hero .slide::before{
   position: absolute;
   content: '';
   top: 0; left: 0;right: 0; bottom: 0; /* inset:0; */
    background: radial-gradient(circle at right center, transparent 30% , rgba(0, 0, 0,0.9) 60%) ;
   /*خلفية فيها بقعة دائرية شفافة تبدأ من جهة اليمين، وتتحول تدريجيًا إلى الأسود الداكن باتجاه الداخل.*/
   z-index: -1;
}

.hero .slide .content{
    min-height: 100vh;
   display: flex;
   align-items: center;
}
.hero .slide .content span{
   font-size: 2rem;
   color: var(--main-color);
   text-transform: uppercase;
}
.hero .slide .content h3{
   margin-top: 0.5rem;
   margin-bottom: 1.5rem;
   font-size: clamp(2rem , 5rem, 7rem);/*
 clamp(min, preferred, max)        
  ✔ لا تحتاج إلى media queries.
✔ الخط يبدو مناسبًا على جميع الأجهزة.   */

   line-height: 1.2;
    max-width: 50rem;
    color: var(--white);

}
.hero .slide .content .flex{
   display: flex;
   gap: 1rem;
}
.hero .slide .content .flex p{
   font-size: 1.8rem;
   color: var(--light-white);

}

.hero .slide .content .flex p i{
   padding-right: 0.8rem;
   color: var(--white);
}
.hero .slide .content .buttons{

   margin: 2rem 0;
}

.hero .slide .content .buttons a:last-child{
   margin-left: 1.5rem;
   color: var(--white);
   font-size: 1.8rem;
}
.hero .slide .content .buttons a:last-child i{
   margin-left: 0.5rem;
}

.hero .slide .content .buttons a:last-child:hover{
   color: var(--main-color);
}

.hero .slide .content .description{
   font-size: 1.8rem;
   color: var(--light-white);
   max-width: 50rem;
}



/*slider*/ /*هذا الجزء خاص بتنسيق شريط التمرير*/
.hero .swiper-pagination-bullets{
   bottom: 3rem;
}

.hero .swiper-pagination-bullet{
   height: 1.5rem;
   width: 1.5rem;
   background-color: var(--white);
   opacity: 0.5;
   margin-bottom: 1rem;
}

.hero .swiper-pagination-bullet-active{
   background-color: var(--main-color);
   opacity: 1;
}


/*step 4*/


/*     نريد إضافة تدرجين (تأثير ظل ناعم) على يمين ويسار عنصر المنشورات لجعل الشكل أجمل، ويعطي إحساس أن هناك محتوى يتم تمريره أفقيًا.             */
/*  الحاوية الرئيسية  */
.trending .posts-container{
   position: relative;
   overflow-x: hidden;
   height: auto;
   
}
/*   التدرج من اليسار   */
.trending .posts-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5rem; /* عرض التدرج */
  background: linear-gradient(to right, rgba(13, 13, 13, 0.8), transparent);
  pointer-events: none;
  z-index: 2;
}

/*  التدرج من اليمين: */
.trending .posts-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5rem;
  background: linear-gradient(to left, rgba(13, 13, 13, 0.8), transparent);
  pointer-events: none; /* يعني إنهم ما يعيقوش الماوس أو اللمس. */
  z-index: 2;
}

/*        ::before و ::after هما عنصران وهميان نضيفهما بدون HTML.

كل واحد فيهم يغطي جانب من الحاوية.

نستخدم linear-gradient علشان نعمل تدرج لوني من أسود شفاف إلى شفاف تمامًا.       */

 

 .posts-container .post{
   width: 20rem;
}
.posts-container .post{
   user-select: none; /*  لاحظ ان القيمه ممكن تكون tex  auto allتمنع المستخدم من تظليل عنصر او نسخه  */
}
.posts-container .post .imge{
   position: relative;
   height: 30rem;
   border-radius: 0.5rem;
   overflow: hidden;
}
   img{
   height: 100%;
   width: 100%;
   object-fit: cover;
 }
   
.posts-container .post .imge::before{
   content: "";
   position: absolute;
   inset: 0;
  background: linear-gradient(rgba(13,13,13,0.8),transparent,rgba(13,13,13,0.8));
}

.posts-container .post .imge:hover::before{
   opacity: 0;
}

.posts-container .post .imge .type{
   position: absolute;
   top: 0; left: 0;
   background-color: var(--white);
   color: var(--black);
   border-top-left-radius: 0.1rem;
   border-bottom-right-radius: 0.5rem;
   font-size: 1.5rem;
}
.posts-container .post .imge .caption{
    position: absolute;
   bottom: 0; right: 0;
   background-color: var(--main-color);
   color: var(--black);
   border-top-left-radius: 0.1rem;
   border-bottom-right-radius: 0.5rem;
   font-size: 1.5rem;
}
 
.posts-container .post h3{

   margin: 1rem 0;
   font-weight: normal;

}
.posts-container .post h3 a{
   display: block;
   width: 20rem;
   color: var(--white);
   font-size: 1.8rem;
   overflow: hidden;/*يخفي النص الزائد خارج العنصر. */
   text-overflow: ellipsis;/*يعرض ... بدلًا من الجزء المخفي من النص*/
   white-space: nowrap; /* يمنع النص من الانتقال لسطر جديد.*/
}

.posts-container .post h3 a:hover{
   color:var(--main-color)
}



.trending .heading{
   font-size: 3rem;
   margin-bottom: 2rem;
   padding-bottom: 1.5rem;
   border-bottom: 0.1rem solid rgba(255, 255, 255,0.2 ) ;
   color: var(--main-color) ;
}

   /*latest */ /*step5*/

.latest .posts-container{
   display: grid;/*مما يعني أن جميع العناصر بداخله سيتم ترتيبها وفق نظام شبكي (Grid layout). */
   grid-template-columns: repeat(auto-fit, 20rem);/*سيضع أكبر عدد ممكن من الأعمدة بعرض 20rem داخل الصف الواحد، حسب حجم الشاشة أو الحاوية. */
   align-items: flex-start;/*يجعل كل عنصر يبدأ من الأعلى (أي لا يتم تمديده لملء الارتفاع). */
   justify-content: center;/*يتحكم في محاذاة الأعمدة داخل الحاوية أفقياً */
}



.latest .posts-container .info span{
font-size: 1.6rem;
color: var(--light-white);

}

.latest .posts-container .info span i{
   margin-right: 0.5rem;
}
.latest .posts-container .info span :last-child{
   margin-left: 1.5rem;
}

.latest .posts-container a{
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;

}
.latest h1{
   font-size: 3rem;
   color: var(--main-color);
   border-bottom: 0.1rem solid rgba(255, 255, 255,0.2 );
   padding-bottom: 1rem;
   padding-top: 3rem;
   margin-bottom: 2rem;
}
 .button{
   margin-top: 3rem;
   margin-bottom: 1rem;
   text-align: center;
}
 
/* filter.html */

.filter form {
   background-color: var(--black);
   border-radius: 0.5rem;
   padding: 1.5rem;
}


.filter form .list-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.filter form .list-container .list{
   display: flex;
   flex: 1 1 25rem;/*flex-grow: 1;flex-shrink: 1;flex-basis: 25rem;
*/
   padding: 1rem 1.5rem;
   position: relative;
   background-color: var( --light-black);
}

.filter form .list-container .list span{
   color: var(--light-white);
   font-size: 1.8rem;
}

.filter form .list-container .list  .output{
    color: var(--main-color);
    padding: 0 1rem;
    font-size: 2rem;
    background: none;
    width: 100%;
}


.filter form .list-container .list .items{
      position: absolute;
      top: 100%;/*   يعني أن الجزء العلوي من هذا العنصر سيتم وضعه أسفل العنصر الأب مباشرة.
القيمة 100% تُشير إلى طول العنصر الأب بالكامل.
مثال: إذا كان ارتفاع العنصر الأب 50px، فالعنصر هذا سيبدأ من 50px إلى الأسفل.   */
      left: 0;
      right: 0;
      z-index: 10;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: var(--light-black);
      padding: 0.5rem 1rem;
      transform: scaleY(0);/* هذه الخاصية تقوم بتقليص ارتفاع العنصر (التحجيم عموديًا) إلى الصفر.*/
      transform-origin: top;/* top تعني أن نقطة الأصل هي أعلى العنصر.أي أن التقليص أو التمدد سيبدأ من الأعلى باتجاه الأسفل.*/
}

.filter form .list-container .list .items .item{
   cursor: pointer;
   background-color: var(--black);
   padding: 0.5rem 1rem;
   font-size: 1.8rem;
   color: var(--light-white);
   margin: 0.5rem 0;
   border-radius: 0.5rem;
}

.filter form .list-container .list .items .item:hover{
   color: var(--main-color);
   margin-left: 2rem;
}


.filter form .list-container .list .items .item:hover,
 .filter form .list-container .list:hover .items,
  .filter form .list-container .list .output:focus + .items ,
   .filter form .list-container .list .output:focus-within + .items
{
    transform: scaleY(1);
}

.filter form .genere{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.filter form .genere input{
   display: none;
}
 .filter form .genere label{
   font-size: 1.8rem;
   color:var(--light-white);
   background-color: var(--light-black);
   border-radius: .5rem ;
   padding: .5rem 1rem;
   cursor: pointer;
   user-select: none;
}


.filter form .genere input:checked + label,
.filter form .genere label:hover
{
   background-color: var(--main-color);
   color: var(--black);
}

.filter form .btn{
   margin-top: 2rem;
   margin-bottom: 0;
}




























/*media queries */

@media (max-width:991px){
  #search-toggler{
   display: inline-block;
  }
  .header .flex .search-form{
   position: absolute;
   top: calc(100% - .1rem); left:0; right:0;
   background-color: var(--bg-color);
   border-top: .1rem solid rgba(255, 255, 255,0.2 );
   padding: 1.5rem;
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   
  }
  
.header .flex .search-form.active{
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 }

 .header .flex .search-form .search-bar{
   width: 100%;
 }

 .footer .list{
   text-align: center;
 }

 .footer .list .list-links{
   justify-content: center;
 }

 .footer .row{
   flex-flow: column;
   text-align: center;
 }

}


@media (max-width:450px){
   html{
      font-size: 50%;
   }
   .hero .slide::before{
      background: rgba(0,0,0,.9);
   }
     .hero .slide .content h3{
           font-size: 4rem;
     }
    
     
}


